<!-- Setup the main.handlebars file so it's able to be used by Handlebars. -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Eat-Da-Burger</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
        crossorigin="anonymous">
</head>
<div class="jumbotron">
  <h1 class="display-4">Eat-Da-Burger</h1>
  <p class="lead">Submit a burger's name, and it will display the burger on the left side of the page -- waiting to be devoured.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <img src="../public/assets/images/burger.png" class="rounded mx-auto d-block">
</div>
<body>
  <div>
    {{{ body }}}
  </div>
</body>

</html>
